<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Configuration 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsq.SpringBootDemo.modules.test.dao.CityDao">
    <select id="getCitiesByCountryId" parameterType="java.lang.Integer" resultType="City">
        select * from m_city where country_id = #{countryId}
    </select>
    
    <!--在这里传参时有两种方式，#{这种方式是preparestatement}    ${这种方式是statement}  -->
    
</mapper>